
@import 'variables/tables.css';


.networkList {
	& table {
		font-family: monospace;
		& .vid {
			width: 5em;
			text-align: right;
		}
		& .name {
			min-width: 10em;
			text-align: left;
		}
		& .addr {
			min-width: 10em;
			text-align: left;
		}
	}
	& .container {
		display: inline-block;
		& .footer {
			&>* {
				float: right;
				margin-left: 15px;
			}
			&::after {
				content: '';
				clear: both;
			}
		}
	}
}


.networkDetail {
	& table {
		& th { background: var(--thead-bg); }
	}
	& form {
		& label {
			display: block;
			& span:first-child {
				display: inline-block;
				width: 5em;
			}
			& input {
				width: 10em;
				margin-left: 10px;
				margin-right: 10px;
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}

}
